{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/homee.css' %}"/>

    </head>
    <body>
        {% include 'partial/navbar.html' %}
        <div class="home-title" id="home-title"></div>
          <div class="button-container">
        <button onclick="window.location.href='/translator'" class="action-button">Translate</button>
        <button onclick="window.location.href='/chatbot'" class="action-button">Chatbot</button>
          </div>
        <script src="{% static 'js/home.js' %}"></script>
    </body>
</html>

